/* BELOW 1280px */
@media (max-width: 80em) {
  .contact-us-box {
    max-width: 130rem;
    margin: 0 auto;
    padding-left: 8rem;
    padding-right: 38.4rem;
    text-align: left;
  }

  header {
    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;
  }
}

/* BELOW 1120px */
@media (max-width: 70em) {
  html {
    font-size: 60%;
  }

  .hero {
    max-width: 120rem;
  }

  .hero {
    grid-gap: 4rem;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 3.2rem;
    padding-right: 3.2rem;
  }
}

/* BELOW 960px */
@media (max-width: 60em) {
  html {
    font-size: 56.25%;
  }

  .logo-letter {
    padding-left: 1.6rem;
  }
  .hero {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .hero-paragraph {
    padding-right: 8rem;
    padding-left: 8rem;
    margin-bottom: 3.2rem;
  }

  .grid-2-cols {
    grid-template-columns: 1fr;
    gap: 4rem;
  }

  .heading-secondary-left {
    text-align: center;
  }

  .img-small {
    max-width: 80%;
    margin: auto;
  }

  .contact-us-box {
    grid-template-columns: 1fr;
    gap: 4rem;
    align-items: center;
    padding: 4rem;
  }

  .contact-paragraph {
    text-align: center;
  }

  .icon {
    padding-right: 1rem;
  }
}

/* BELOW 864px */
@media (max-width: 60em) {
  html {
    font-size: 55%;
  }

  .grid-3-cols {
    gap: 2rem;
  }

  .grid-4-cols {
    grid-template-columns: 1fr 1fr;
  }
}

/* BELOW 704px */
@media (max-width: 44em) {
  header {
    position: relative;
  }

  .hero-paragraph {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 2rem;
  }
  .img-small {
    max-width: 100%;
    margin: auto;
  }
  .fun-rocks-section {
    padding-top: 0rem;
  }

  .footer {
    font-size: 1.4rem;
  }
}

/* BELOW 400px */
@media (max-width: 25em) {
  html {
    font-size: 50%;
  }

  header {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  h1 {
    font-size: 3.2rem;
  }

  .quality-care-paragraph-sub {
    font-size: 1.2rem;
  }

  iframe {
    width: 100%;
    aspect-ratio: 3/3;
  }
}
