* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-padding-top: 12.8rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  color: #5e6282;
}

#page {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  margin-bottom: 9.6rem;
}

/* Grid  */
.grid-2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8rem;
}

.grid-2-cols-center {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8rem;
  align-items: center;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8rem;
  text-align: center;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 9.6rem;
  padding: 0 4.8rem;
  position: sticky;
  top: 0;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}

.logo {
  height: 4rem;
}

.main-nav {
  text-decoration: none;
  gap: 4.8rem;
}

.main-nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: #006c50;
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
  margin-right: 4rem;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #a8acff;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #029b67;
}

.section-margin {
  margin-bottom: 15.2rem;
}

/* Font */

h1 {
  font-family: "Volkhov";
  text-transform: capitalize;
  text-decoration: none;
  color: #03a678;
  font-weight: 900;
  font-size: 4.4rem;
}

h3 {
  font-family: "Volkhov";
  font-weight: 500;
  font-size: 2.4rem;
  color: #fff;
  padding-top: 2.4rem;
  padding-bottom: 2rem;
}

p {
  font-family: "DM Sans";
  font-weight: 400;
  font-size: 1.6rem;
  color: #5e6282;
}

.quality-care-paragraph-sub {
  font-weight: 300;
  font-size: 1.8rem;
  color: #fff;
  padding-top: 1rem;
}

.about-us-paragraph {
  color: #494b48;
  letter-spacing: 0.1rem;
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 400;
  text-align: left;
  padding-bottom: 2rem;
}

.contact-paragraph {
  color: #494b48;
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 400;
  text-align: left;
  margin-bottom: 2rem;
}

.email-link:link,
.email-link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 400;
  text-align: left;
  color: #5e6282;
  margin-bottom: 2rem;
}

/* Hero Section */
.section-hero {
  background-color: #fcf9f4;
  padding: 6.4rem 0 6.4rem 0;
  margin-bottom: 9.6rem;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 4fr 6fr;
  gap: 4rem;
  align-items: center;
}

.hero-paragraph {
  font-family: "DM Sans";
  color: #494b48;
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 1.6;
  margin-bottom: 6.4rem;
  padding-top: 2.4rem;
}

.img {
  width: 100%;
  border-radius: 1rem;
}

.img-without-border {
  width: 100%;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1.4rem 2.4rem;
  border-radius: 100rem;
  border: none;
  cursor: pointer;
}

.btn--full:link,
.btn--full:visited {
  background-color: #a8acff;
  color: #fff;
}

/* Quality-care Section */
h2 {
  font-family: "Volkhov";
  text-decoration: none;
  color: #03a678;
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 6.4rem;
  text-align: center;
  text-transform: capitalize;
}

.light-purple-text {
  color: #a8acff;
}

.bright-yellow-text {
  color: #fdb419;
}

.bg-pink {
  background-color: #eb918e;
  padding: 5rem;
  border-radius: 1rem;
}

.bg-green {
  background-color: #1cad88;
  padding: 5rem;
  border-radius: 1rem;
}

.bg-blue {
  background-color: #32c0ce;
  padding: 5rem;
  border-radius: 1rem;
}

/* About Us Section */
.heading-secondary-left {
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 2.4rem;
  text-align: center;
  text-transform: capitalize;
  text-align: left;
}

/* Direction Section  */
iframe {
  width: 100%;
  aspect-ratio: 3/2;
}

/* Contact Us Now */
.icon {
  padding-right: 2rem;
}

.contact-us-section {
  background-color: #f6f5ef;
}

.contact-us-box {
  max-width: 130rem;
  margin: 0 auto;
  padding-left: 8rem;
  padding-right: 8rem;
  display: grid;
  grid-template-columns: 4fr 5fr;
  gap: 8rem;
  align-items: center;
}

/* Footer Section */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16rem;
}

.footer {
  color: #555;
  font-size: 1.6rem;
  font-weight: 300;
}
