* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-padding-top: 12.8rem;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", "Poppins" sans-serif;
  font-weight: 400;
  background-color: #faf6eb;
}

#page {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
  margin-bottom: 9.6rem;
}

/* Grid  */
.grid-2-cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8rem;
}

.grid-2-cols-center {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 8rem;
  align-items: center;
}

.grid-3-cols {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
  padding: 0 6.4rem;
  position: sticky;
  top: 0;
  background-color: #faf6eb;
  border-bottom: 2px solid #222;
  z-index: 10;
}

.logo {
  height: 3rem;
}
.logo-letter {
  height: 3rem;
  padding-left: 12rem;
}

.main-nav {
  font-family: "Poppins", sans-serif;
  padding: 0.8rem;
  text-decoration: none;
  color: #222;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.main-nav-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  color: #222;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.8rem;
  padding: 0.8rem;
  border: 2px solid #222;
  border-radius: 1rem;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #fff;
  background-color: #222;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.section-margin {
  margin-bottom: 15.2rem;
}

/* Font */

h1 {
  font-family: "Poppins";
  color: #222;
  font-weight: 700;
  font-size: 4rem;
  line-height: 120%;
}

h3 {
  margin: 0 0 10px 0;
  font-family: "Poppins";
  font-weight: 500;
  font-size: 2.4rem;
  color: #222;
  padding-top: 2.4rem;
  padding-bottom: 2rem;
}

p {
  font-family: "Rubik";
  font-weight: 400;
  font-size: 1.6rem;
}

.quality-care-paragraph-sub {
  font-family: "Rubik";
  color: #222;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.about-us-paragraph {
  color: #222;
  letter-spacing: 0.1rem;
  font-size: 2rem;
  line-height: 1.6;
  font-weight: 400;
  text-align: left;
  padding-bottom: 2rem;
}

.contact-paragraph {
  color: #494b48;
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 400;
  text-align: left;
  margin-bottom: 2rem;
}

.email-link:link,
.email-link:visited {
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 1.6;
  font-weight: 400;
  text-align: left;
  color: #5e6282;
  margin-bottom: 2rem;
}

/* Hero Section */
.padding-top {
  padding-top: 12.8rem;
}

.hero {
  margin: auto;
  text-align: center;
  max-width: 60rem;
  padding-bottom: 6.4rem;
}

.hero-paragraph {
  font-family: "Rubik";
  color: #222;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 400;
  padding-top: 3.2rem;
}

.padding-left {
  padding-left: 2.2rem;
}

/* ---- */
.img {
  width: 100%;
  border-radius: 1rem;
}

.img-without-border {
  width: 100%;
}
/* ---- */

/* Quality-care Section */

h2 {
  font-family: "poppins";
  color: #222;
  font-weight: 700;
  font-size: 4rem;
  margin-bottom: 6rem;
  text-align: center;
}

.quality-care-item {
  position: relative;
  width: 20rem;
  height: 20rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.background-svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: move 5s ease-in-out infinite;
}

.content {
  position: absolute;
  z-index: -1;
  text-align: center;
}

.quality-care-item:nth-child(1) .background-svg {
  animation: sway1 5s ease-in-out infinite;
}

.quality-care-item:nth-child(2) .background-svg {
  animation: sway2 5s ease-in-out infinite;
}

.quality-care-item:nth-child(3) .background-svg {
  animation: sway3 5s ease-in-out infinite;
}

@keyframes sway1 {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-10deg);
  }
}

@keyframes sway2 {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(3deg);
  }
}

@keyframes sway3 {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-3deg);
  }
}

/* Picture Wall Section */
.picture-wall-section {
  padding: 4rem 0;
  overflow: hidden;
  white-space: nowrap;
}

.picture-wall {
  display: flex;
  gap: 1.6rem;
  animation: scroll 20s linear infinite;
}

.picture-item {
  flex: 0 0 30rem;
}

.picture-item img {
  width: 100%;
  height: 24rem;
  object-fit: cover;
  border-radius: 8px;
}

.picture-item p {
  margin-top: 0.8rem;
  font-size: 1.4rem;
  font-weight: 500;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-300px * 8));
  }
}

/* Direction Section  */
iframe {
  width: 100%;
  aspect-ratio: 3/2;
}

/* Contact Us Now */
.icon {
  padding-right: 2rem;
}

.contact-us-box {
  margin: 0 auto;

  padding-right: 38.4rem;
  text-align: left;
}

.contact-us-box h2 {
  text-align: left;
}

.contact-us-box p {
  font-size: 2.4rem;
  color: #222;
  margin-bottom: 1.2rem;
}

.email-link {
  text-decoration: none;
}

.email-link .contact-paragraph {
  color: #222;
}

.contact-paragraph {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}

.contact-paragraph .icon {
  font-size: 2rem;
  margin-right: 1rem;
}

.contact-text {
  font-family: "Rubik";
  font-size: 2rem;
  font-weight: 400;
  color: #222;
}

.contact-us-box strong {
  color: #2eb07a;
}

.padding-bottom {
  padding-bottom: 3.2rem;
}

/* Fun Rocks Section */
.fun-rocks-section {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fun-rocks-container {
  max-width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fun-rocks-img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-bottom: -6rem;
}

/* Footer Section */
.footer {
  background-color: #029463;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 16rem;
  color: #fff;
  font-size: 1.6rem;
  font-weight: 300;
}
